* {
  margin: 0px;
  /* padding: 0px; */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header {
  display: flex;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}
#gitlink {
  display: flex;
  flex-direction: column;
}
header > h1 {
  padding: 25px;
}
header a {
  color: white;
  font-weight: normal;
  margin-top: 3px;
  margin-right: 8px;
  margin-bottom: 8px;
}
article {
  width: 60%;
  padding: 15px;
  margin: 30px;
  border: 1px dotted lightgray;
}
article > li {
  font-size: x-large;
  font-weight: bold;
  list-style: none;
  margin: 10px;
  padding: 7px;
  border-radius: 10px;
  background-color: rgb(209, 231, 249);
}
ul {
  font-size: large;
  font-weight: normal;
  list-style: none;
  padding: 5px;
  background-color: aliceblue;
  /* margin: 8px; */
}
ul > li {
  margin: 10px;
  padding: 14px;
  /* background-color: whitesmoke; */
}
ul > li:hover {
  border-radius: 10px;
  background-color: white;
}
a {
  text-decoration: none;
  font-weight: bolder;
}
a:hover {
  display: inline-block;
  border-radius: 10px;
  transform: scale(1.13);
}
@media screen and (max-width: 550px) {
  header > h1 {
    font-size: x-large;
  }
  header > a {
    font-size: smaller;
  }
  article {
    width: 80%; /* 60% -> 80% */
    padding: 15px;
    margin: 30px;
    border: 1px dotted lightgray;
  }
}
