body {
  background-color: aliceblue;
  margin: 0px;
  padding: 0px;
}
img {
  margin: 10px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}
header > h1 {
  /* 세로방향  */
  text-align: start;
  margin: 20px;
  /* margin: auto; */
}
header {
  /* display: flex; */
  height: 200px;

  /* 가로방향 */
  /* justify-content: space-between; */

  padding: 10px;
  /* 세로방향 */
  align-items: end;
}
ul {
  justify-content: end;
  margin: 10px;
  padding: 20px;
  display: flex;
  /* 리스트 방향 가로로 */
}
header li {
  color: white;
  list-style: none;
  margin: 1px;
  /* border-radius: 10px; */
}
a {
  background-color: rgb(60, 146, 231);
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
}
a:hover {
  background-color: lightskyblue;
  color: black;
}
article {
  /* 박스의 바깥영역 : margin */
  /* 4개가 각각 '위'에서부터 시계방향으로 돈다  */
  margin: 20px;

  /* 박스의 안영역 : padding */
  /* 2개면 각각 '위아래' , '양옆' */
  padding: 10px 20px;
}
section {
  margin: 20px 20px 20px 20px;
  background-color: white;
  padding: 10px;
  /* display: flex; */
}
section > h2 {
  margin: 5px;
}
section > div {
  display: flex;
  align-items: center;
}
footer {
  font-size: 13px;
  align-items: center;
  margin: 0px;
  padding: 20px;
  background-color: black;
  color: white;
}
/* 미디어쿼리 */
@media screen and (max-width: 1024px) {
  a {
    /* background-color: darkblue; */
  }
  body {
    /* padding: 100px; */
    justify-content: center;
    /* width: 600px; */
  }

  /* body {
    padding: 20px;
  }

  header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  header li {
    margin: 5px 0;
  }

  section {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  section img {
    width: 80px;
    height: 80px;
  }

  footer {
    text-align: center;
  } */
}
