* {
  margin: 0px;
  padding: 0px;
}
#content {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}
header h1 {
  margin: 20px;
}
#w3 {
  display: flex;
  align-items: center;
}
#w3 > a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
#w3 > a:hover {
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(105, 105, 105);
}
#title {
  background-color: aliceblue;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px dotted lightgray;
}
#box {
  margin: 20px;
  border: 1px dotted lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#imgbox {
  padding: 85px;
}
input {
  align-items: center;
  height: 35px;
}
#input input[type="submit"] {
  border-radius: 2px;
  height: 39px;
  width: 45px;
  color: white;
  background-color: rgb(94, 64, 125);
  border: none;
}
form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
form > p {
  margin: 2px;
}
