* {
  margin: 0px;
  padding: 0px;
}
/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
header > h1 {
  padding: 20px;
}
header > a {
  text-decoration: none;
  color: white;
  padding: 30px;
  font-size: large;
}
a:hover {
  transform: scale(1.2);
}
#title {
  display: flex;
  justify-content: center;
  border: 1px dotted grey;
  padding: 10px;
  margin: 20px;
  background-color: aliceblue;
}
#converter {
  display: flex;
  justify-content: center;
  align-items: stretch;
  justify-items: stretch;
  border: 1px dotted grey;
  margin: 20px;
}
form {
  /* flex-direction: column; */
  /* margin: 20px; */
  display: flex;
  padding: 20px;
  align-items: stretch;
  justify-items: stretch;
  justify-content: center;
  width: 100%;
}
#lsel,
#rsel {
  display: flex;
  width: 90%;
}
#leftnum,
#rightnum {
  width: 90%;
  display: flex;
  align-items: center;
}
#txt2 {
  background-color: bisque;
}

select,
input,
output {
  flex: 1;
  width: 90%;
  height: 50px;
  margin: 20px;
  margin-right: 0px;
  justify-content: start;
}
label {
  font-size: x-large;
  font-weight: bold;
}
